{% extends "base.html" %}

{% block title %}
Courses
{% endblock %}

{% block header %}
Courses
{% endblock %}

{% block menu %}
    {% include "inc-menu.html" %}
{% endblock %}

{% block body %}
    <div id="container1">
        <div id="row1">
            Find a course of interest from our vast number of offers!
        </div>
        <div id="course_list">
            {% for item in objects_list %}
                <div id="course_row">
                    <p id="course_name">
                        Course {{item.name}}
                        <span>
                            <a style="text-decoration: none" href="/copy-course/?name={{item.name}}">copy</a>
                        </span>
                    </p>
                    <button class="btn">Enroll now!</button>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
