{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block header %}
    Home
{% endblock %}

{% block menu %}
    {% include "inc-menu.html" %}
{% endblock %}

{% block body %}
    <div id="container1">
        <div id="row1">
            Welcome to Wunderbar Programming School!
        </div>
        <button class="btn">Order a course</button>
        <div id="container3">
            <div id="row2">
                <button class="btn">Categories</button>
            </div>
            <div id="row3">
                <button class="btn">Courses</button>
            </div>
        </div>
    </div>
    <h1 id="top3">Featured Categories</h1>
    <div id="container4">
        <div id="row4">
            <button class="btn">Enroll now!</button>
        </div>
        <div id="row5">
            <button class="btn">Enroll now!</button>
        </div>
        <div id="row6">
            <button class="btn">Enroll now!</button>
        </div>
    </div>
{% endblock %}
