{% extends "base.html" %}

{% block title %}
Students
{% endblock %}

{% block header %}
Students
{% endblock %}

{% block menu %}
    {% include "inc-menu.html" %}
{% endblock %}

{% block body %}
    <div id="container1">
        <div id="row1">
            Find students
        </div>
        <div id="cat_list">
            {% for item in objects_list %}
                <div id="cat_row">
                    <li>
                        {{item.name}}, courses:
                        {% for course in item.courses %}
                            {{course.name}}
                        {% endfor %}
                    </li>
                </div>
            {% endfor %}
        </div>
		<button class="btn"><a style="text-decoration: none" href="/create-student/">Create a student</a></button>
		<button class="btn"><a style="text-decoration: none" href="/add-student/">Add a student to a course</a></button>
    </div>
{% endblock %}
